<div class="header">
  <h1>{{title}}</h1>
  <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-icon
      class="icon-search"
      aria-hidden="false"
      aria-label="search icon">
      search
    </mat-icon>

    <input type="text" 
      placeholder="Search..."
      formControlName="beer_name"
      (input)="onSubmit()"
    >
    
    <span
      *ngIf="searchForm.controls['beer_name'].value"
      class="icon-clear-name-wrapper"
      >
      <mat-icon
        aria-hidden="false"
        aria-label="close icon"
        (click)="clearBeerName()"
      >
        close
      </mat-icon>
    </span>
  </form>
</div>
<div class="grid">
  <div *ngFor="let beer of beers">
    <a mat-button routerLink="{{beer.url}}" class="card-wrapper">
      <div class="card">
        <img class="media" alt={{beer.name}} src={{beer.image_url}} />
        <div class="primaryText">
          <h2 class="title">{{beer.name}}</h2>
          <p class="description">{{beer.tagline}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
